@font-face {
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Arial", "PingFang SC", "Hiragino Sans GB", "STHeiti", "Microsoft YaHei", "Microsoft JhengHei", "Source Han Sans SC", "Noto Sans CJK SC", "Source Han Sans CN", "Noto Sans SC", "Source Han Sans TC", "Noto Sans CJK TC", "WenQuanYi Micro Hei", SimSun, sans-serif;
  font-weight: 400;
}
::selection {
  background: #ffe4e1;
  color: #fff;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Arial", "PingFang SC", "Hiragino Sans GB", "STHeiti", "Microsoft YaHei", "Microsoft JhengHei", "Source Han Sans SC", "Noto Sans CJK SC", "Source Han Sans CN", "Noto Sans SC", "Source Han Sans TC", "Noto Sans CJK TC", "WenQuanYi Micro Hei", SimSun, sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: none;
  position: relative;
  height: 100%;
  margin: 0;
  color: #34495e;
  font-size: 15px;
}
@media screen and (max-width: 480px) {
  body {
    font-size: 14px;
  }
}
ol,
ul,
form,
p {
  margin: 0;
}
a {
  text-decoration: none;
  color: #07a;
  cursor: pointer;
}
p {
  word-spacing: 0.05em;
}
pre {
  overflow-x: auto;
}
.flex-box {
  display: flex;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  transform: unset !important;
}
.head-icon {
  width: 0;
  height: 0;
  overflow: hidden;
}
.head-icon img {
  width: 400px;
  height: 400px;
}
.app-body {
  padding: 2em 1em;
  margin: 0 auto;
  height: 100%;
  max-width: 980px;
  position: relative;
  opacity: 0;
  transform: translateY(-20px);
  transition: all 0.4s;
}
.article-card {
  padding-bottom: 20px;
}
.article-card:first-child {
  margin-top: 60px;
}
h2.article-head {
  font-size: 1.6em;
  margin-bottom: 0;
}
.article-head > a {
  color: #34495e;
}
.article-head > a:hover {
  border-bottom: 2px solid #ffe4e1;
}
.article-date {
  color: #7f8c8d;
  margin: 10px 0;
  font-size: 0.9em;
}
.article-summary {
  margin: 10px 0;
  color: #34495e;
}
.more {
  font-weight: 600;
  display: inline-block;
  transition: all 0.3s;
}
.more:hover {
  transform: translateX(10px);
}
#article-banner {
  width: 100%;
  box-sizing: border-box;
  top: 0;
  left: 0;
  padding: 100px 20px 25px 20px;
  text-align: center;
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media screen and (max-width: 480px) {
  #article-banner {
    padding: 80px 10px 25px 10px;
  }
}
#article-banner h2 {
  margin: 0.4em 0;
  font-size: 2.2em;
  color: #fff;
  opacity: 0;
  transform: translateY(-20px);
  transition: all 0.4s;
}
@media screen and (max-width: 480px) {
  #article-banner h2 {
    font-size: 2em;
  }
}
#article-banner .post-date {
  margin: 10px 0 20px 0;
  color: #fff;
  opacity: 0;
  transform: translateY(-20px);
  transition: all 0.4s;
  transition-delay: 0.05s;
  font-weight: bold;
}
#article-banner .arrow-down {
  display: flex;
  width: 100%;
  justify-content: center;
  opacity: 0;
  transform: translateY(-20px);
  transition: all 0.4s;
  transition-delay: 0.1s;
}
#article-banner .arrow-down a {
  z-index: 4;
  display: block;
  width: 25px;
  height: 25px;
  -webkit-transform: rotate(315deg);
  transform: rotate(315deg);
  -webkit-animation-name: shine;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  border-bottom: 1px solid #fff;
  border-left: 1px solid #fff;
}
.post-article {
  margin-top: 0;
  width: 100%;
}
.image-view-wrap {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1000;
  transition: all 0.3s ease-in-out;
}
.image-view-wrap .image-view-inner {
  position: relative;
}
.image-view-wrap img {
  display: block;
  margin: 0 auto;
  cursor: zoom-out;
  transition: all 0.3s ease-in-out;
}
.wrap-active {
  background-color: rgba(255,255,255,0.9);
}
.scroll-top {
  cursor: pointer;
  opacity: 0;
  position: fixed;
  box-sizing: border-box;
  right: 2em;
  bottom: 45px;
  width: 40px;
  height: 40px;
  padding: 5px;
  background-color: #ffe4e1;
  border-radius: 20px;
  transform: translate(80px, 0);
  transition: all 0.3s ease;
  box-shadow: 0 0 3px 0 rgba(0,0,0,0.12), 0 3px 3px 0 rgba(0,0,0,0.24);
}
.scroll-top .arrow-icon {
  background-image: url("/deps/partial/imgs/top.png");
  width: 30px;
  height: 30px;
  display: block;
  background-size: contain;
}
.opacity {
  opacity: 1;
  transform: translate(0, 0);
}
#archives:before {
  position: absolute;
  top: 2em;
  bottom: 1em;
  left: 30px;
  height: auto;
  content: '';
  background-color: #ffe4e1;
  width: 4px;
}
.time-section {
  padding-left: 30px;
  position: relative;
}
.time-section .section-year {
  cursor: pointer;
  font-size: 1.8em;
  margin-left: 10px;
}
.time-section .section-year:before {
  position: absolute;
  left: 8px;
  top: 11px;
  content: '';
  background-color: #fff;
  width: 12px;
  height: 12px;
  border: 2px solid #ffe4e1;
  border-radius: 50%;
}
.time-section .section-list .section-list-item {
  margin: 20px 0 20px 10px;
  position: relative;
}
.time-section .section-list .section-list-item:before {
  position: absolute;
  left: -29px;
  top: 7px;
  content: '';
  background-color: #ffe4e1;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
.time-section .section-list .section-list-item .archive-title {
  color: #34495e;
  transition: all 0.3s ease;
  font-size: 1.1em;
}
.time-section .section-list .section-list-item .archive-title:hover {
  color: #ffe4e1;
  padding-left: 10px;
}
.time-section .section-list .section-list-item .archive-date {
  color: #7f8c8d;
  font-size: 0.9em;
  margin: 5px 0;
}
.article-footer {
  border-top: 1px #ddd dashed;
  font-size: 15px;
  color: #34495e;
}
.catalog-container {
  display: block;
  margin-left: 20px;
  flex-basis: 280px;
  -webkit-flex-basis: 280px;
  flex-shrink: 0;
  -webkit-flex-shrink: 0;
}
@media screen and (max-width: 960px) {
  .catalog-container {
    display: none;
  }
}
.catalog-container .fixed-toc {
  position: fixed;
  top: 90px;
}
.catalog-container .toc-main {
  padding-left: 20px;
  border-left: 1px solid #ddd;
  width: 280px;
  box-sizing: border-box;
}
.catalog-container .toc-main .toc-title {
  font-size: 1.2em;
  position: relative;
  padding-left: 28px;
}
.catalog-container .toc-main .toc-title:before {
  content: '';
  position: absolute;
  width: 22px;
  height: 22px;
  left: 0;
  top: 2px;
  background: url("/deps/partial/imgs/catalog.png") no-repeat;
  background-size: contain;
}
.catalog-container .toc-main .toc-nav {
  padding: 0;
  margin-top: 1em;
  overflow-y: scroll;
  max-height: 480px;
}
.catalog-container .toc-main .toc-nav::-webkit-scrollbar {
  display: none;
}
.catalog-container .toc-main ol {
  padding-left: 20px;
}
.catalog-container .toc-main li {
  list-style-type: none;
  line-height: 1.5;
}
.app-footer {
  padding: 1em 0;
  margin: 0 auto;
  max-width: 850px;
  border-top: 1px solid #ddd;
  background-color: #fff;
  text-align: center;
  font-size: 0.9em;
}
.copyright {
  color: #7f8c8d;
  line-height: 1.5;
}
.header {
  background: none;
  border: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 200;
  transition: background 0.5s;
}
.fixed-header {
  position: fixed;
  background-color: #ffe4e1;
}
.fixed-header .home-link {
  color: #fff;
  font-weight: bold;
}
.fixed-header .menu .icon-bar {
  background-color: color-grey;
}
.fixed-header .item-link {
  color: #fff;
  font-weight: bold;
}
.header-container {
  max-width: 1200px;
  height: 40px;
  margin: 0 auto;
  padding: 10px 40px;
  position: relative;
}
@media screen and (max-width: 480px) {
  .header-container {
    padding: 6px 20px;
    position: relative;
  }
}
.logo {
  background: url("logo-url");
  background-size: contain;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
.home-link {
  display: flex;
  align-items: center;
  float: left;
  font-weight: bold;
  color: #fff;
  font-size: 1.5em;
  line-height: 40px;
}
.right-list {
  list-style: none;
  float: right;
  padding: 0;
}
@media screen and (max-width: 480px) {
  .right-list {
    display: none;
  }
}
.list-item {
  display: inline-block;
  margin: 0 8px;
}
.item-link {
  height: 40px;
  line-height: 40px;
  text-decoration: none;
  font-weight: bold;
  color: #fff;
  padding-bottom: 4px;
}
.item-link:hover {
  border-bottom: 3px solid #ffe4e1;
}
.active {
  border-bottom: 3px solid #ffe4e1;
}
.menu {
  display: none;
  float: right;
  width: 24px;
  height: 24px;
  margin-top: 10px;
}
.menu .icon-bar {
  display: block;
  width: 24px;
  height: 2px;
  border-radius: 1px;
  margin-top: 4px;
  background-color: #34495e;
}
@media screen and (max-width: 480px) {
  .menu {
    display: block;
  }
}
.menu-mask {
  display: none;
  position: fixed;
  left: 0;
  top: 52px;
  z-index: 99;
  width: 100%;
  overflow: hidden;
  max-height: 0;
  background: rgba(255,255,255,0.98);
  -webkit-transition: max-height 0.2s ease;
  transition: max-height 0.2s ease;
}
@media screen and (max-width: 480px) {
  .menu-mask {
    display: block;
  }
}
.open {
  max-height: 300px;
  transition-delay: 0.1s;
}
.menu-list {
  padding: 0;
}
.menu-item {
  position: relative;
  list-style: none;
  text-align: center;
  padding: 10px 0;
}
.menu-item:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  border-bottom: 1px solid #ddd;
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);
}
.menu-link {
  text-decoration: none;
  color: #34495e;
}
.mobile-active {
  color: #34495e;
}
.markdown-content {
  overflow-y: auto;
  overflow-x: hidden;
}
.markdown-content pre,
.markdown-content code {
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Arial", "PingFang SC", "Hiragino Sans GB", "STHeiti", "Microsoft YaHei", "Microsoft JhengHei", "Source Han Sans SC", "Noto Sans CJK SC", "Source Han Sans CN", "Noto Sans SC", "Source Han Sans TC", "Noto Sans CJK TC", "WenQuanYi Micro Hei", SimSun, sans-serif;
  font-weight: 400;
  font-size: 15px;
}
@media screen and (max-width: 480px) {
  .markdown-content pre,
  .markdown-content code {
    font-size: 15px;
  }
}
.markdown-content pre .line,
.markdown-content code .line {
  min-height: 13px;
  margin: 2px 0;
}
.markdown-content p {
  line-height: 1.6em;
}
.markdown-content p code {
  background-color: #ffe4e1;
  color: #e96900;
  padding: 3px 5px;
  margin: 0 2px;
  border-radius: 2px;
  white-space: nowrap;
}
.markdown-content h1 {
  font-size: 1.8em;
}
.markdown-content h2 {
  font-size: 1.5em;
  border-bottom: 1.5px #bbb solid;
}
.markdown-content h3 {
  margin: 1em 0;
  font-size: 1.3em;
  padding-bottom: 0.3em;
  border-bottom: 1px solid #ddd;
}
.markdown-content h4 {
  margin: 1em 0;
  font-size: 1.2em;
}
.markdown-content h4:before {
  content: "#";
  color: #ffe4e1;
  margin-right: 5px;
  font-size: 1.2em;
  font-weight: 700;
}
.markdown-content h5 {
  font-size: 1em;
  margin: 0.8em 0;
}
.markdown-content blockquote {
  margin: 1em 0;
  padding: 15px 20px;
  border-left: 4px solid #ffe4e1;
  background: #ffe4e1;
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
}
.markdown-content ul,
.markdown-content ol {
  overflow: auto;
  margin: 15px 0;
}
.markdown-content ul li,
.markdown-content ol li {
  padding: 5px 0;
}
.markdown-content img {
  max-width: 100%;
  display: block;
  margin: 20px auto;
  cursor: zoom-in;
}
.markdown-content figure {
  background: #ffe4e1;
  padding: 0 10px;
  border-radius: 2px;
  margin: 20px 0;
  overflow: auto;
  position: relative;
}
.markdown-content figure:after {
  content: attr(data-lang);
  position: absolute;
  top: 0;
  right: 0;
  color: #ccc;
  text-align: right;
  font-size: 0.7em;
  padding: 5px 10px 0;
  line-height: 15px;
  height: 15px;
  font-weight: 500;
}
.markdown-content > table {
  width: 100%;
}
.markdown-content > table thead {
  background-color: #ffe4e1;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #ddd;
}
.markdown-content > table thead th {
  padding: 5px 10px;
}
.markdown-content > table tbody tr:nth-child(even) {
  background: #fff;
}
.markdown-content > table tbody tr:nth-child(odd) {
  background: #fff;
}
.markdown-content > table tbody tr td {
  padding: 5px 10px;
}
.markdown-content hr {
  border: none;
  border-bottom: 1px dashed #ddd;
  margin: 30px 0;
}
.nav-container {
  width: 100%;
  padding-top: 1.5em;
  margin-top: 1.5em;
  border-top: 1px #ddd dashed;
  font-weight: 600;
}
.nav-container:after,
.nav-container:before {
  content: '';
  display: table;
  clear: both;
}
.nav-container .nav-left {
  float: left;
}
.nav-container .nav-right {
  float: right;
}
.nav-container .nav-arrow {
  color: #34495e;
}
.guide-pager {
  margin: 1em 3em;
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  font-weight: 600;
}
.page-arrow {
  color: #34495e;
}
.unvisible {
  visibility: hidden;
}
@-moz-keyframes shine {
  0%, 100% {
    opacity: 0.1;
  }
  25%, 75% {
    opacity: 0.2;
  }
  50% {
    opacity: 1;
  }
}
@-webkit-keyframes shine {
  0%, 100% {
    opacity: 0.1;
  }
  25%, 75% {
    opacity: 0.2;
  }
  50% {
    opacity: 1;
  }
}
@-o-keyframes shine {
  0%, 100% {
    opacity: 0.1;
  }
  25%, 75% {
    opacity: 0.2;
  }
  50% {
    opacity: 1;
  }
}
@keyframes shine {
  0%, 100% {
    opacity: 0.1;
  }
  25%, 75% {
    opacity: 0.2;
  }
  50% {
    opacity: 1;
  }
}
